.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 60px;

}
.c-svg{
    width: 700px;
    height: 300px;
    margin-right: 60px;
}

