.error-div{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: center;

}
.error-text{
    font-size: 64px;
    color: #ffb6b9;
    font-weight: bold;
}
.error-text-2{
    font-size: 24px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
}
.caple{
    width: 200px;
    height: 200px;
}