.about-section{
    width: 100%;
    margin-top: 70px;
  }
  .about-me-text{
    font-family: var(--poppins);
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
    margin-left: 40px;
  }
  .line-2{
    width: 70px;
    color: white;
    margin-top: 20px;
    margin-left: 40px;
  
  }
  .pic-div{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    z-index: 0;
  }
  .svgs{
    position: relative;
    width: 80%;
  }
  .center{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    gap: 30px;
  }
  .hi{
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 300;
    color: var(--baby-pink);
    text-align: center;
    z-index: 1;
  }
  .hi-bold{
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 600;
    color: var(--baby-pink);
    text-align: center;
    z-index: 1;
  }
  .im{
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 300;
    color: var(--white);
    text-align: center;
    width: 700px;
    z-index: 1;
  }
  .im-bold{
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 600;
    color: var(--white);
    text-align: center;
    width: 700px;
    z-index: 1;
  }
  .insights{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 140px;
  }
  .first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
  }
  .num{
    font-family: var(--poppins);
    font-size: 28px;
    font-weight: 600;
    color: var(--baby-pink);
    text-align: center;
    z-index: 1;
  }
  .line-3{
    width: 70px;
    color: white;
  
  }
  .text-02{
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 600;
    color: var(--white);
    text-align: center;
    z-index: 1;
  }
  .more-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    gap: 10px;
    margin-right: 40px;
    margin-top: 60px;
  
  }
  .more-text{
    font-family: var(--poppins);
    font-size: 12px;
    font-weight: 300;
    color: var(--white);
  }
  .next{
    width: 18px;
    height: 18px;
  }

  .more-info-footer-22 {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
    padding-right: 60px;
  
  }
  
  .more-info-link-22 {
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
  }
  
  .arrow-22 {
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
  
  }
  