* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #181414;
    color: #fff;
    line-height: 1.7;
    overflow-x: hidden;
}

.hero-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 100px;
    width: 100%;
}
.about-box-22{
    margin-left: 40px;
}

.hero h2 {
    color: #ffb6b9;
    margin-bottom: 15px;
    font-size: 16px;
}
.p{
    font-size: 12px;
}
.portrait {
    justify-self: center;
    margin-right: 40px;
}
.portrait img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    box-shadow: 0 0 30px 10px rgba(255, 182, 185, 0.5);
}

section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffb6b9;

}
.secc{
    width: 90%;
    margin-left: 40px;
    margin-top: 40px;
}
.card-00 {
    background-color: #1f1a1a;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid #ffb6b9;
    margin-bottom: 25px;
}
.highlight {
    background-color: #ffb6b9;
    color: #000;
    font-weight: 500;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
}
@media (max-width: 900px) {
    .hero {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .portrait {
        margin-top: 30px;
    }
    nav ul {
        gap: 20px;
    }
}
