.scroll-list-container {
    position: relative;
    width: 500px;
    margin-left: 40px;
  }
  

  .scroll-list::-webkit-scrollbar {
    width: 8px;
  }
 
 
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
 
 
  .item-text {
    color: white;
    margin: 0;
  }

   .item-text:hover {
    color: rgb(133, 133, 133);
    transition-duration: 0.5s;
    margin: 0;
  }
  
 
