.info-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    margin-top: 50px;
  }
  
  .two-divs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    gap: 80px;
    z-index: 3;
    margin-bottom: 200px;
  }
  .two-divs-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    gap: 160px;
    z-index: 3;
  
  }
  .two-divs-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    gap: 80px;
    z-index: 3;
    margin-top: 200px;
  }
  
  .one{
    width: 240px;
    height: 40px;
    background-image: linear-gradient(to bottom, #1B191A, rgba(0, 0, 0, 0.21));
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 3;
  
    
  }
  .ui{
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 600;
    color: var(--white);
  }
