

.contact-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 100px;
}

.main-wrapper {
  width: 100%;
  max-width: 1200px;
  z-index: 2;
}

.contact-container {
  display: flex;
  border-radius: 0;
  overflow: visible;
}

.contact-form-side {
  flex: 1;
  background-color: #f1b9c8;
  padding: 80px 60px;
  min-height: 500px;
}

.contact-form-side h2 {
  font-size: 28px;
  font-weight: bold;
  color: #1a1a1a;
  margin-bottom: 60px;
}

.input-field {
  margin-bottom: 40px;
  border-bottom: 1px solid #1a1a1a;
}

.input-field input, 
.input-field  textarea {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px 0 ;
  color: #1a1a1a;
}

.input-field input::placeholder, 
.input-field textarea::placeholder {
  color: #555;
}

.send-btn {
  background-color: #1a1a1a;
  color: white;
  padding: 10px 90px;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
}

.info-panel-side {
  flex: 1.2;
  background-color: #121212;
  color: white;
  padding: 80px 80px;
  border-top-left-radius: 120px;
}

.info-content h3 {
  font-size: 28px;
  margin-bottom: 40px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  gap: 20px;
}

.info-item i {
  font-size: 20px;
  width: 25px;
}
.icon-width{
  width: 20px;
  height: 20px;
}

.social-links {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.social-links a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  background: #333;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}


/* Footer Bar */
.more-info-footer {
  background-color: #f1b9c8;
  padding: 20px 60px;
  display: flex;
  justify-content: flex-end;

}

.more-info-link {
  font-size: 18px;
  color: #1a1a1a;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.arrow {
  font-size: 16px;
  text-decoration: none;
  color: #1a1a1a;

}

/* Decorative Shapes */
.shape {
  position: absolute;
  width: 80px;
  opacity: 0.8;
}

.shape-top {
  top: 10%;
  left: 40%;
  transform: rotate(-15deg);
}

.shape-right {
  top: 20%;
  right: 15%;
  width: 120px;
  filter: blur(2px) brightness(0.5);
}

/* Responsiveness */
@media (max-width: 992px) {
  .contact-container {
      flex-direction: column;
  }
  .info-panel-side {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
}










