.contact{
    width: 100%;
    /* height: 400px; */
    background-color: var(--pink-2);
    margin-top: 200px;
    position: relative;      
    overflow: hidden;     
    z-index: 0;
  }
  .contact-2{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 60px;
  }
  .bg-div{
    position: absolute;     
    z-index: 6;  
    padding-left: 300px;        
  }
  .contact-bg{
    width: 100%;
  }
  .info-3{
    position: absolute;     
    z-index: 8;  
    margin-left: 200px;
  }
  .info-text{
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
  }
  .contact-text{
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 600;
    color: var(--brown);
    margin-top: 20px;
    margin-left: 20px;
  }
  .coloumn-info-2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    /* margin-top: 50px; */
    /* gap: 30px; */
  }
  .row-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
  }
  .phone{
    width: 20px;
    height: 20px;
  }
  .number{
    font-family: var(--poppins);
    font-size: 12px;
    font-weight: 300;
    color: var(--white);
  }
  .icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
  }
  .c-coloumn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 50px;
    margin-left: 20px;
    gap: 30px;
  }
  .fill{
    font-family: var(--poppins);
    font-size: 12px;
    font-weight: 300;
    color: #636363;
  
  }
  .c-line{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
  }
  .new-line{
    width: 300px;
    color: #636363;
  }
  .more-div-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    gap: 10px;
    margin-right: 20px;
  
  }
  .more-text-2{
    font-family: var(--poppins);
    font-size: 12px;
    font-weight: 300;
    color: var(--brown);
  }
  .send{
    width: 150px;
    height: 30px;
    background-color: var(--brown);
    border-radius: 10px;
    color: white;
    border: none;
    margin-left: 20px;
  }
  .rowww{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    /* margin-top: 70px; */
  
  }
  
  