.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 100px;
    gap: 60px;
  }
  .footer-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 170px;
  }
  .port{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }
  .boldd{
    font-family: var(--poppins);
    font-size: 12px;
    font-weight: 600;
    color: var(--white);
  }
  .light{
    font-family: var(--poppins);
    font-size: 10px;
    font-weight: 300;
    color: #ffffffb5;
  }
  .final-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    background-color: #100d0d;
    height: 40px;
  
  }
  .copy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    margin-left: 20px;
  }
  .copy-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;
    margin-right: 20px;
  }
  .c-text{
    font-family: var(--poppins);
    font-size: 10px;
    font-weight: 300;
    color: var(--white);
  }
  