.hero-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;

}
.coloumn-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    margin-left: 40px;
}
.hi-text{

    font-family: var(--poppins);
    font-size: 14px;
    color: var(--white);
}
.hero-jee{
    width: 390px;
    height: 470px;
}
.jailan-text{
    font-family: var(--marck);
    font-size: 22px;
    color: var(--pink);
    margin-left: 20px;
}
.line{
    width: 100px;
    color: var(--white);
    text-align: left;
    
}
.text-01{
    font-family: var(--poppins);
    font-size: 16px;
    color: var(--white);
}
.bold{
    font-family: var(--poppins);
    font-size: 16px;
    color: var(--white);
    font-weight: 600;
}
.explore-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #ff8cb053;
    width: 240px;
    height: 50px;
    border-radius: 100px;
    gap: 10px;
    margin-top: 30px;
}
.explore{
    font-family: var(--poppins);
    font-size: 12px;
    color: var(--white);
    font-weight: 600;
}
.explore-div:hover{
    background-color: #29030f53;
    transition-duration: 0.5s;

}
.svg{
    width: 30px;
    height: 30px;
}
.categories{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--baby-pink);
    width: 100%;
    height: 60px;
    gap: 25px;
}
.textt{
    font-family: var(--poppins);
    font-size: 12px;
    color: var(--brown);
    font-weight: 600;
}
