:root{
    --brown:#191515;
    --white:#FFFFFF;
    --black:#000000;
    --pink:#FF8CB0;
    --pink-2:#FFC5D8;
    --baby-pink:#D9A5A5;
    --gray:#ACACAC;
    --light-brown:#1E1B1B;

    --poppins:"poppins";
    --marck:"Marck Script", cursive;

}
body{
    margin: 0 auto;    
    background-color: var(--light-brown);
}
.header{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 200px;
    width: 100%;
    height: 80px;
    
}
.logo{
    width: 55px;
    height: 55px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 50px;
}
.text{
    font-family: poppins;
    font-size: 12px;
    font-weight: 300;
    color: var(--white);
    text-decoration: none;

}
.text-bold{
    font-family: poppins;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: var(--white);
}
.icon{
    width: 20px;
    height: 20px;
}
