.skills{
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 300;
    color: var(--white);
  }
  .skills-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 80px;
  
  }
  .big-coloumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 40px;
    gap: 40px;
  
  }
  .row-sec{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;
  }
  .ai-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 150px;
    height: 170px;
    background-image: linear-gradient(to bottom, #1B191A, #250a0a);
    gap: 10px;
    border-radius: 20px;
  }
  .figma-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 150px;
    height: 170px;
    background-image: linear-gradient(to bottom, #1B191A, #1b2134);
    gap: 10px;
    border-radius: 20px;
  }
  .ae-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 150px;
    height: 170px;
    background-image: linear-gradient(to bottom, #1B191A, #150a39);
    gap: 10px;
    border-radius: 20px;
  }
  .blender-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 150px;
    height: 170px;
    background-image: linear-gradient(to bottom, #1B191A, #321d08);
    gap: 10px;
    border-radius: 20px;
  }
  .ps-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 150px;
    height: 170px;
    background-image: linear-gradient(to bottom, #1B191A, #031828);
    gap: 10px;
    border-radius: 20px;
  }
  .pr-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 150px;
    height: 170px;
    background-image: linear-gradient(to bottom, #1B191A, #121630);
    gap: 10px;
    border-radius: 20px;
  }
  .vs-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 150px;
    height: 170px;
    background-image: linear-gradient(to bottom, #1B191A, #112e41);
    gap: 10px;
    border-radius: 20px;
  }
  .ar-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 150px;
    height: 170px;
    background-image: linear-gradient(to bottom, #1B191A, #192507);
    gap: 10px;
    border-radius: 20px;
  }
  .ai-pic{
    width: 40px;
    height: 40px;
  }
  .ai-text{
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 600;
    color: var(--white);
  }
  .p{
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 300;
    color: var(--gray);
  }
  