.work{
    width: 100%;
    margin-top: 70px;
  }
  .middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;
  }
  .service{
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 300;
    color: var(--white);
  }
  .cd-div{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    z-index: 0;
  }
  .cd{
    width: 60%;
    position: relative;
  
  }
  .info-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    margin-top: 50px;
  }
  
  .two-divs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    gap: 80px;
    z-index: 3;
    margin-bottom: 200px;
  }
  .two-divs-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    gap: 160px;
    z-index: 3;
  
  }
  .two-divs-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    gap: 80px;
    z-index: 3;
    margin-top: 200px;
  }
  
  .one{
    width: 240px;
    height: 40px;
    background-image: linear-gradient(to bottom, #1B191A, rgba(0, 0, 0, 0.21));
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 3;
  
    
  }
  .ui{
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 600;
    color: var(--white);
  }
  .skills{
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 300;
    color: var(--white);
  }
  .skills-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 80px;
  
  }
  .big-coloumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 40px;
    gap: 40px;
  
  }
  .row-sec{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;
  }
  .ai-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 150px;
    height: 150px;
    background-image: linear-gradient(to bottom, #1B191A, #250a0a);
    gap: 10px;
    border-radius: 20px;
  }
  .figma-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 150px;
    height: 150px;
    background-image: linear-gradient(to bottom, #1B191A, #1b2134);
    gap: 10px;
    border-radius: 20px;
  }
  .ae-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 150px;
    height: 150px;
    background-image: linear-gradient(to bottom, #1B191A, #150a39);
    gap: 10px;
    border-radius: 20px;
  }
  .blender-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 150px;
    height: 150px;
    background-image: linear-gradient(to bottom, #1B191A, #321d08);
    gap: 10px;
    border-radius: 20px;
  }
  .ps-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 150px;
    height: 150px;
    background-image: linear-gradient(to bottom, #1B191A, #031828);
    gap: 10px;
    border-radius: 20px;
  }
  .pr-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 150px;
    height: 150px;
    background-image: linear-gradient(to bottom, #1B191A, #121630);
    gap: 10px;
    border-radius: 20px;
  }
  .vs-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 150px;
    height: 150px;
    background-image: linear-gradient(to bottom, #1B191A, #112e41);
    gap: 10px;
    border-radius: 20px;
  }
  .ar-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 150px;
    height: 150px;
    background-image: linear-gradient(to bottom, #1B191A, #192507);
    gap: 10px;
    border-radius: 20px;
  }
  .ai-pic{
    width: 40px;
    height: 40px;
  }
  .ai-text{
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 600;
    color: var(--white);
  }
  .p{
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 300;
    color: var(--gray);
  }
  